body {
    background: #eee;
}

.home-sentence {
    font-family: "Calibri Light", sans-serif;
    color: #333;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.home-menu {
    margin-top: 4px !important;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

/* small and big are for ui dividers*/
.small {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.big {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.no-padding {
    padding: 0 !important;
}

.container-box {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    display: inline-block;
    background: transparent;
}

.arrow {
    position: absolute;
    display: none;
}

.ui.card.course {
    width: 340px;
    height: 150px;
    background: whitesmoke;
    box-sizing: content-box;
}

#noty_bottomCenter_layout_container {
    -webkit-filter: none;
    filter: none;
}